:root {
  --base-colorblack: rgba(0, 0, 0, 1);
  --base-colorwhite: rgba(255, 255, 255, 1);
  --base-colormain-sea-blue: rgba(0, 89, 147, 1);
  --base-colormain-crimson: rgba(215, 16, 73, 1);
  --base-colormain-pale-cyan: rgba(126, 211, 247, 1);
  --base-colorpicton-blue: rgba(76, 184, 233, 1);
  --base-colorblue-ncs: rgba(0, 133, 184, 1);
  --base-colorsea-blue: rgba(0, 96, 149, 1);
  --base-colorbdazzled-blue: rgba(36, 87, 142, 1);
  --base-colortwilight-lavender: rgba(117, 77, 111, 1);
  --base-colorbig-dip-oruby: rgba(159, 52, 74, 1);
  --base-colorred-ncs: rgba(192, 16, 52, 1);
  --base-colormaximum-red: rgba(218, 33, 40, 1);
  --neutralneutral-grey-1neutral-gray-900: rgba(20, 28, 36, 1);
  --neutralneutral-grey-1neutral-gray-800: rgba(32, 43, 55, 1);
  --neutralneutral-grey-1neutral-gray-700: rgba(52, 64, 81, 1);
  --neutralneutral-grey-1neutral-gray-600: rgba(65, 78, 98, 1);
  --neutralneutral-grey-1neutral-gray-500: rgba(99, 112, 131, 1);
  --neutralneutral-grey-1neutral-gray-400: rgba(151, 161, 175, 1);
  --neutralneutral-grey-1neutral-gray-300: rgba(206, 210, 218, 1);
  --neutralneutral-grey-1neutral-gray-200: rgba(228, 231, 236, 1);
  --neutralneutral-grey-1neutral-gray-100: rgba(242, 244, 247, 1);
  --neutralneutral-grey-1neutral-gray-50: rgba(249, 250, 251, 1);
  --neutralneutral-grey-2light-active: rgba(247, 248, 249, 1);
  --neutralneutral-grey-2normal: rgba(228, 231, 236, 1);
  --neutralneutral-grey-2normal-hover: rgba(205, 208, 212, 1);
  --neutralneutral-grey-2normal-active: rgba(182, 185, 189, 1);
  --neutralneutral-grey-2dark: rgba(171, 173, 177, 1);
  --neutralneutral-grey-2dark-hover: rgba(137, 139, 142, 1);
  --neutralneutral-grey-2dark-active: rgba(103, 104, 106, 1);
  --neutralneutral-grey-2darker: rgba(80, 81, 83, 1);
  --neutralneutral-grey-2light: rgba(252, 253, 253, 1);
  --neutralneutral-grey-2light-hover: rgba(251, 251, 252, 1);
  --neutralwhitewhite-active: rgba(245, 247, 249, 1);
  --neutralwhitelight: rgba(252, 253, 253, 1);
  --neutralwhitelight-hover: rgba(245, 247, 249, 1);
  --neutralwhitelight-active: rgba(240, 243, 246, 1);
  --neutralwhitenormal: rgba(249, 250, 251, 1);
  --neutralwhitenormal-hover: rgba(242, 244, 247, 1);
  --neutralwhitenormal-active: rgba(235, 238, 242, 1);
  --neutralwhitedark: rgba(246, 248, 249, 1);
  --neutralwhitewhite: rgba(255, 255, 255, 1);
  --neutralwhitewhite-hover: rgba(252, 253, 253, 1);
  --neutralblackblack-1: rgba(255, 255, 255, 1);
  --neutralblackblack-2: rgba(252, 252, 252, 1);
  --neutralblackblack-3: rgba(245, 245, 245, 1);
  --neutralblackblack-4: rgba(240, 240, 240, 1);
  --neutralblackblack-5: rgba(217, 217, 217, 1);
  --neutralblackblack-6: rgba(191, 191, 191, 1);
  --neutralblackblack-7: rgba(140, 140, 140, 1);
  --neutralblackblack-8: rgba(89, 89, 89, 1);
  --neutralblackblack-9: rgba(69, 69, 69, 1);
  --neutralblackblack-10: rgba(38, 38, 38, 1);
  --neutralblackblack-11: rgba(31, 31, 31, 1);
  --neutralblackblack-12: rgba(20, 20, 20, 1);
  --neutralblackblack-13: rgba(0, 0, 0, 1);
  --system-colorssystemredlight: rgba(255, 59, 48, 1);
  --system-colorssystemreddark: rgba(255, 69, 58, 1);
  --system-colorssystemorangelight: rgba(255, 149, 0, 1);
  --system-colorssystemorangedark: rgba(255, 159, 10, 1);
  --system-colorssystemyellowlight: rgba(255, 204, 0, 1);
  --system-colorssystemyellowdark: rgba(255, 214, 10, 1);
  --system-colorssystemgreenlight: rgba(52, 199, 89, 1);
  --system-colorssystemgreendark: rgba(48, 209, 88, 1);
  --system-colorssystemteallight: rgba(90, 200, 250, 1);
  --system-colorssystemtealdark: rgba(100, 210, 255, 1);
  --system-colorssystembluelight: rgba(0, 122, 255, 1);
  --system-colorssystembluedark: rgba(10, 132, 255, 1);
  --system-colorssystemindigolight: rgba(88, 86, 214, 1);
  --system-colorssystemindigodark: rgba(94, 92, 230, 1);
  --system-colorssystempurplelight: rgba(175, 82, 222, 1);
  --system-colorssystempurpledark: rgba(191, 90, 242, 1);
  --system-colorssystempinklight: rgba(255, 45, 85, 1);
  --system-colorssystempinkdark: rgba(255, 45, 85, 1);
  --system-colorssystemgraylight: rgba(142, 142, 147, 1);
  --system-colorssystemgraydark: rgba(142, 142, 147, 1);
  --system-colorssystemgray02light: rgba(174, 174, 178, 1);
  --system-colorssystemgray02dark: rgba(99, 99, 102, 1);
  --system-colorssystemgray03light: rgba(199, 199, 204, 1);
  --system-colorssystemgray03dark: rgba(72, 72, 74, 1);
  --system-colorssystemgray04light: rgba(209, 209, 214, 1);
  --system-colorssystemgray04dark: rgba(58, 58, 60, 1);
  --system-colorssystemgray05light: rgba(229, 229, 234, 1);
  --system-colorssystemgray05dark: rgba(28, 28, 30, 1);
  --system-colorssystemgray06light: rgba(242, 242, 247, 1);
  --system-colorssystemgray06dark: rgba(28, 28, 30, 1);
  --color-palletessea-bluelight: rgba(230, 239, 244, 1);
  --color-palletessea-bluelight-hover: rgba(217, 231, 239, 1);
  --color-palletessea-bluelight-active: rgba(176, 206, 222, 1);
  --color-palletessea-bluenormal: rgba(0, 96, 149, 1);
  --color-palletessea-bluenormal-hover: rgba(0, 86, 134, 1);
  --color-palletessea-bluenormal-active: rgba(0, 77, 119, 1);
  --color-palletessea-bluedark: rgba(0, 72, 112, 1);
  --color-palletessea-bluedark-hover: rgba(0, 58, 89, 1);
  --color-palletessea-bluedark-active: rgba(0, 43, 67, 1);
  --color-palletessea-bluedarker: rgba(0, 34, 52, 1);
  --color-palletescrimsonlight: rgba(251, 232, 235, 1);
  --color-palletescrimsonlight-hover: rgba(249, 220, 225, 1);
  --color-palletescrimsonlight-active: rgba(243, 182, 194, 1);
  --color-palletescrimsonnormal: rgba(215, 21, 58, 1);
  --color-palletescrimsonnormal-hover: rgba(194, 19, 52, 1);
  --color-palletescrimsonnormal-active: rgba(172, 17, 46, 1);
  --color-palletescrimsondark: rgba(161, 16, 44, 1);
  --color-palletescrimsondark-hover: rgba(129, 13, 35, 1);
  --color-palletescrimsondark-active: rgba(97, 9, 26, 1);
  --color-palletescrimsondarker: rgba(75, 7, 20, 1);
  --color-palletespale-cyanlight: rgba(242, 251, 254, 1);
  --color-palletespale-cyanlight-hover: rgba(236, 248, 254, 1);
  --color-palletespale-cyanlight-active: rgba(215, 241, 253, 1);
  --color-palletespale-cyannormal: rgba(126, 211, 247, 1);
  --color-palletespale-cyannormal-hover: rgba(113, 190, 222, 1);
  --color-palletespale-cyannormal-active: rgba(101, 169, 198, 1);
  --color-palletespale-cyandark: rgba(95, 158, 185, 1);
  --color-palletespale-cyandark-hover: rgba(76, 127, 148, 1);
  --color-palletespale-cyandark-active: rgba(57, 95, 111, 1);
  --color-palletespale-cyandarker: rgba(44, 74, 86, 1);
  --color-palletespicton-bluelight: rgba(237, 248, 253, 1);
  --color-palletespicton-bluelight-hover: rgba(228, 244, 252, 1);
  --color-palletespicton-bluelight-active: rgba(200, 233, 248, 1);
  --color-palletespicton-bluenormal: rgba(76, 184, 233, 1);
  --color-palletespicton-bluenormal-hover: rgba(68, 166, 210, 1);
  --color-palletespicton-bluenormal-active: rgba(61, 147, 186, 1);
  --color-palletespicton-bluedark: rgba(57, 138, 175, 1);
  --color-palletespicton-bluedark-hover: rgba(46, 110, 140, 1);
  --color-palletespicton-bluedark-active: rgba(34, 83, 105, 1);
  --color-palletespicton-bluedarker: rgba(27, 64, 82, 1);
  --color-palletesblue-ncslight: rgba(230, 239, 244, 1);
  --color-palletesblue-ncslight-hover: rgba(217, 231, 239, 1);
  --color-palletesblue-ncslight-active: rgba(176, 206, 222, 1);
  --color-palletesblue-ncsnormal: rgba(0, 96, 149, 1);
  --color-palletesblue-ncsnormal-hover: rgba(0, 86, 134, 1);
  --color-palletesblue-ncsnormal-active: rgba(0, 77, 119, 1);
  --color-palletesblue-ncsdark: rgba(0, 72, 112, 1);
  --color-palletesblue-ncsdark-hover: rgba(0, 58, 89, 1);
  --color-palletesblue-ncsdark-active: rgba(0, 43, 67, 1);
  --color-palletesblue-ncsdarker: rgba(0, 34, 52, 1);
  --color-palletesbdazzled-bluelight: rgba(233, 238, 244, 1);
  --color-palletesbdazzled-bluelight-hover: rgba(222, 230, 238, 1);
  --color-palletesbdazzled-bluelight-active: rgba(187, 203, 220, 1);
  --color-palletesbdazzled-bluenormal: rgba(36, 87, 142, 1);
  --color-palletesbdazzled-bluenormal-hover: rgba(32, 78, 128, 1);
  --color-palletesbdazzled-bluenormal-active: rgba(29, 70, 114, 1);
  --color-palletesbdazzled-bluedark: rgba(27, 65, 107, 1);
  --color-palletesbdazzled-bluedark-hover: rgba(22, 52, 85, 1);
  --color-palletesbdazzled-bluedark-active: rgba(16, 39, 64, 1);
  --color-palletesbdazzled-bluedarker: rgba(13, 30, 50, 1);
  --color-palletestwilight-lavenderlight: rgba(241, 237, 241, 1);
  --color-palletestwilight-lavenderlight-hover: rgba(234, 228, 233, 1);
  --color-palletestwilight-lavenderlight-active: rgba(212, 200, 210, 1);
  --color-palletestwilight-lavendernormal: rgba(117, 77, 111, 1);
  --color-palletestwilight-lavendernormal-hover: rgba(105, 69, 100, 1);
  --color-palletestwilight-lavendernormal-active: rgba(94, 62, 89, 1);
  --color-palletestwilight-lavenderdark: rgba(88, 58, 83, 1);
  --color-palletestwilight-lavenderdark-hover: rgba(70, 46, 67, 1);
  --color-palletestwilight-lavenderdark-active: rgba(53, 35, 50, 1);
  --color-palletestwilight-lavenderdarker: rgba(41, 27, 39, 1);
  --color-palletesbig-dip-orubylight: rgba(245, 235, 237, 1);
  --color-palletesbig-dip-orubylight-hover: rgba(241, 225, 228, 1);
  --color-palletesbig-dip-orubylight-active: rgba(225, 192, 199, 1);
  --color-palletesbig-dip-orubynormal: rgba(159, 52, 74, 1);
  --color-palletesbig-dip-orubynormal-hover: rgba(143, 47, 67, 1);
  --color-palletesbig-dip-orubynormal-active: rgba(127, 42, 59, 1);
  --color-palletesbig-dip-orubydark: rgba(119, 39, 56, 1);
  --color-palletesbig-dip-orubydark-hover: rgba(95, 31, 44, 1);
  --color-palletesbig-dip-orubydark-active: rgba(72, 23, 33, 1);
  --color-palletesbig-dip-orubydarker: rgba(56, 18, 26, 1);
  --color-palletesred-ncslight: rgba(249, 231, 235, 1);
  --color-palletesred-ncslight-hover: rgba(246, 219, 225, 1);
  --color-palletesred-ncslight-active: rgba(235, 181, 192, 1);
  --color-palletesred-ncsnormal: rgba(192, 16, 52, 1);
  --color-palletesred-ncsnormal-hover: rgba(173, 14, 47, 1);
  --color-palletesred-ncsnormal-active: rgba(154, 13, 42, 1);
  --color-palletesred-ncsdark: rgba(144, 12, 39, 1);
  --color-palletesred-ncsdark-hover: rgba(115, 10, 31, 1);
  --color-palletesred-ncsdark-active: rgba(86, 7, 23, 1);
  --color-palletesred-ncsdarker: rgba(67, 6, 18, 1);
  --color-palletesmaximum-redlight: rgba(251, 233, 234, 1);
  --color-palletesmaximum-redlight-hover: rgba(249, 222, 223, 1);
  --color-palletesmaximum-redlight-active: rgba(244, 186, 188, 1);
  --color-palletesmaximum-rednormal: rgba(218, 33, 40, 1);
  --color-palletesmaximum-rednormal-hover: rgba(196, 30, 36, 1);
  --color-palletesmaximum-rednormal-active: rgba(174, 26, 32, 1);
  --color-palletesmaximum-reddark: rgba(164, 25, 30, 1);
  --color-palletesmaximum-reddark-hover: rgba(131, 20, 24, 1);
  --color-palletesmaximum-reddark-active: rgba(98, 15, 18, 1);
  --color-palletesmaximum-reddarker: rgba(76, 12, 14, 1);
  --color-white: rgba(255, 255, 255, 1);
  --main-colorlight-gray: rgba(116, 124, 151, 1);
  --main-colorwhite: rgba(255, 255, 255, 1);
  --brand-color-primary-120: rgba(13, 44, 74, 1);
  --SVN-gilroy-50-50px-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --SVN-gilroy-50-50px-regular-font-weight: 400;
  --SVN-gilroy-50-50px-regular-font-size: 50px;
  --SVN-gilroy-50-50px-regular-letter-spacing: 0px;
  --SVN-gilroy-50-50px-regular-line-height: normal;
  --SVN-gilroy-50-50px-regular-font-style: normal;
  --SVN-gilroy-50-50px-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --SVN-gilroy-50-50px-bold-font-weight: 700;
  --SVN-gilroy-50-50px-bold-font-size: 50px;
  --SVN-gilroy-50-50px-bold-letter-spacing: 0px;
  --SVN-gilroy-50-50px-bold-line-height: normal;
  --SVN-gilroy-50-50px-bold-font-style: normal;
  --SVN-gilroy-50-50px-bold-italic-font-family: "SVN-Gilroy-BoldItalic", Helvetica;
  --SVN-gilroy-50-50px-bold-italic-font-weight: 700;
  --SVN-gilroy-50-50px-bold-italic-font-size: 50px;
  --SVN-gilroy-50-50px-bold-italic-letter-spacing: 0px;
  --SVN-gilroy-50-50px-bold-italic-line-height: normal;
  --SVN-gilroy-50-50px-bold-italic-font-style: italic;
  --SVN-gilroy-50-50px-italic-font-family: "SVN-Gilroy-Italic", Helvetica;
  --SVN-gilroy-50-50px-italic-font-weight: 400;
  --SVN-gilroy-50-50px-italic-font-size: 50px;
  --SVN-gilroy-50-50px-italic-letter-spacing: 0px;
  --SVN-gilroy-50-50px-italic-line-height: normal;
  --SVN-gilroy-50-50px-italic-font-style: italic;
  --SVN-gilroy-50-50px-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --SVN-gilroy-50-50px-semibold-font-weight: 600;
  --SVN-gilroy-50-50px-semibold-font-size: 50px;
  --SVN-gilroy-50-50px-semibold-letter-spacing: 0px;
  --SVN-gilroy-50-50px-semibold-line-height: normal;
  --SVN-gilroy-50-50px-semibold-font-style: normal;
  --SVN-gilroy-42-42px-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --SVN-gilroy-42-42px-regular-font-weight: 400;
  --SVN-gilroy-42-42px-regular-font-size: 42px;
  --SVN-gilroy-42-42px-regular-letter-spacing: 0px;
  --SVN-gilroy-42-42px-regular-line-height: normal;
  --SVN-gilroy-42-42px-regular-font-style: normal;
  --SVN-gilroy-42-42px-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --SVN-gilroy-42-42px-bold-font-weight: 700;
  --SVN-gilroy-42-42px-bold-font-size: 42px;
  --SVN-gilroy-42-42px-bold-letter-spacing: 0px;
  --SVN-gilroy-42-42px-bold-line-height: normal;
  --SVN-gilroy-42-42px-bold-font-style: normal;
  --SVN-gilroy-42-42px-bold-italic-font-family: "SVN-Gilroy-BoldItalic", Helvetica;
  --SVN-gilroy-42-42px-bold-italic-font-weight: 700;
  --SVN-gilroy-42-42px-bold-italic-font-size: 42px;
  --SVN-gilroy-42-42px-bold-italic-letter-spacing: 0px;
  --SVN-gilroy-42-42px-bold-italic-line-height: normal;
  --SVN-gilroy-42-42px-bold-italic-font-style: italic;
  --SVN-gilroy-42-42px-italic-font-family: "SVN-Gilroy-Italic", Helvetica;
  --SVN-gilroy-42-42px-italic-font-weight: 400;
  --SVN-gilroy-42-42px-italic-font-size: 42px;
  --SVN-gilroy-42-42px-italic-letter-spacing: 0px;
  --SVN-gilroy-42-42px-italic-line-height: normal;
  --SVN-gilroy-42-42px-italic-font-style: italic;
  --SVN-gilroy-42-42px-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --SVN-gilroy-42-42px-semibold-font-weight: 600;
  --SVN-gilroy-42-42px-semibold-font-size: 42px;
  --SVN-gilroy-42-42px-semibold-letter-spacing: 0px;
  --SVN-gilroy-42-42px-semibold-line-height: normal;
  --SVN-gilroy-42-42px-semibold-font-style: normal;
  --SVN-gilroy-35-35px-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --SVN-gilroy-35-35px-regular-font-weight: 400;
  --SVN-gilroy-35-35px-regular-font-size: 35px;
  --SVN-gilroy-35-35px-regular-letter-spacing: 0px;
  --SVN-gilroy-35-35px-regular-line-height: normal;
  --SVN-gilroy-35-35px-regular-font-style: normal;
  --SVN-gilroy-35-35px-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --SVN-gilroy-35-35px-bold-font-weight: 700;
  --SVN-gilroy-35-35px-bold-font-size: 35px;
  --SVN-gilroy-35-35px-bold-letter-spacing: 0px;
  --SVN-gilroy-35-35px-bold-line-height: normal;
  --SVN-gilroy-35-35px-bold-font-style: normal;
  --SVN-gilroy-35-35px-bold-italic-font-family: "SVN-Gilroy-BoldItalic", Helvetica;
  --SVN-gilroy-35-35px-bold-italic-font-weight: 700;
  --SVN-gilroy-35-35px-bold-italic-font-size: 35px;
  --SVN-gilroy-35-35px-bold-italic-letter-spacing: 0px;
  --SVN-gilroy-35-35px-bold-italic-line-height: normal;
  --SVN-gilroy-35-35px-bold-italic-font-style: italic;
  --SVN-gilroy-35-35px-italic-font-family: "SVN-Gilroy-Italic", Helvetica;
  --SVN-gilroy-35-35px-italic-font-weight: 400;
  --SVN-gilroy-35-35px-italic-font-size: 35px;
  --SVN-gilroy-35-35px-italic-letter-spacing: 0px;
  --SVN-gilroy-35-35px-italic-line-height: normal;
  --SVN-gilroy-35-35px-italic-font-style: italic;
  --SVN-gilroy-35-35px-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --SVN-gilroy-35-35px-semibold-font-weight: 600;
  --SVN-gilroy-35-35px-semibold-font-size: 35px;
  --SVN-gilroy-35-35px-semibold-letter-spacing: 0px;
  --SVN-gilroy-35-35px-semibold-line-height: normal;
  --SVN-gilroy-35-35px-semibold-font-style: normal;
  --SVN-gilroy-29-29px-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --SVN-gilroy-29-29px-regular-font-weight: 400;
  --SVN-gilroy-29-29px-regular-font-size: 29px;
  --SVN-gilroy-29-29px-regular-letter-spacing: 0px;
  --SVN-gilroy-29-29px-regular-line-height: normal;
  --SVN-gilroy-29-29px-regular-font-style: normal;
  --SVN-gilroy-29-29px-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --SVN-gilroy-29-29px-bold-font-weight: 700;
  --SVN-gilroy-29-29px-bold-font-size: 29px;
  --SVN-gilroy-29-29px-bold-letter-spacing: 0px;
  --SVN-gilroy-29-29px-bold-line-height: normal;
  --SVN-gilroy-29-29px-bold-font-style: normal;
  --SVN-gilroy-29-29px-bold-italic-font-family: "SVN-Gilroy-BoldItalic", Helvetica;
  --SVN-gilroy-29-29px-bold-italic-font-weight: 700;
  --SVN-gilroy-29-29px-bold-italic-font-size: 29px;
  --SVN-gilroy-29-29px-bold-italic-letter-spacing: 0px;
  --SVN-gilroy-29-29px-bold-italic-line-height: normal;
  --SVN-gilroy-29-29px-bold-italic-font-style: italic;
  --SVN-gilroy-29-29px-italic-font-family: "SVN-Gilroy-Italic", Helvetica;
  --SVN-gilroy-29-29px-italic-font-weight: 400;
  --SVN-gilroy-29-29px-italic-font-size: 29px;
  --SVN-gilroy-29-29px-italic-letter-spacing: 0px;
  --SVN-gilroy-29-29px-italic-line-height: normal;
  --SVN-gilroy-29-29px-italic-font-style: italic;
  --SVN-gilroy-29-29px-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --SVN-gilroy-29-29px-semibold-font-weight: 600;
  --SVN-gilroy-29-29px-semibold-font-size: 29px;
  --SVN-gilroy-29-29px-semibold-letter-spacing: 0px;
  --SVN-gilroy-29-29px-semibold-line-height: normal;
  --SVN-gilroy-29-29px-semibold-font-style: normal;
  --SVN-gilroy-24-24px-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --SVN-gilroy-24-24px-regular-font-weight: 400;
  --SVN-gilroy-24-24px-regular-font-size: 24px;
  --SVN-gilroy-24-24px-regular-letter-spacing: 0px;
  --SVN-gilroy-24-24px-regular-line-height: normal;
  --SVN-gilroy-24-24px-regular-font-style: normal;
  --SVN-gilroy-24-24px-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --SVN-gilroy-24-24px-bold-font-weight: 700;
  --SVN-gilroy-24-24px-bold-font-size: 24px;
  --SVN-gilroy-24-24px-bold-letter-spacing: 0px;
  --SVN-gilroy-24-24px-bold-line-height: normal;
  --SVN-gilroy-24-24px-bold-font-style: normal;
  --SVN-gilroy-24-24px-bold-italic-font-family: "SVN-Gilroy-BoldItalic", Helvetica;
  --SVN-gilroy-24-24px-bold-italic-font-weight: 700;
  --SVN-gilroy-24-24px-bold-italic-font-size: 24px;
  --SVN-gilroy-24-24px-bold-italic-letter-spacing: 0px;
  --SVN-gilroy-24-24px-bold-italic-line-height: normal;
  --SVN-gilroy-24-24px-bold-italic-font-style: italic;
  --SVN-gilroy-24-24px-italic-font-family: "SVN-Gilroy-Italic", Helvetica;
  --SVN-gilroy-24-24px-italic-font-weight: 400;
  --SVN-gilroy-24-24px-italic-font-size: 24px;
  --SVN-gilroy-24-24px-italic-letter-spacing: 0px;
  --SVN-gilroy-24-24px-italic-line-height: normal;
  --SVN-gilroy-24-24px-italic-font-style: italic;
  --SVN-gilroy-24-24px-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --SVN-gilroy-24-24px-semibold-font-weight: 600;
  --SVN-gilroy-24-24px-semibold-font-size: 24px;
  --SVN-gilroy-24-24px-semibold-letter-spacing: 0px;
  --SVN-gilroy-24-24px-semibold-line-height: normal;
  --SVN-gilroy-24-24px-semibold-font-style: normal;
  --SVN-gilroy-20-20px-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --SVN-gilroy-20-20px-regular-font-weight: 400;
  --SVN-gilroy-20-20px-regular-font-size: 20px;
  --SVN-gilroy-20-20px-regular-letter-spacing: 0px;
  --SVN-gilroy-20-20px-regular-line-height: normal;
  --SVN-gilroy-20-20px-regular-font-style: normal;
  --SVN-gilroy-20-20px-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --SVN-gilroy-20-20px-bold-font-weight: 700;
  --SVN-gilroy-20-20px-bold-font-size: 20px;
  --SVN-gilroy-20-20px-bold-letter-spacing: 0px;
  --SVN-gilroy-20-20px-bold-line-height: normal;
  --SVN-gilroy-20-20px-bold-font-style: normal;
  --SVN-gilroy-20-20px-bold-italic-font-family: "SVN-Gilroy-BoldItalic", Helvetica;
  --SVN-gilroy-20-20px-bold-italic-font-weight: 700;
  --SVN-gilroy-20-20px-bold-italic-font-size: 20px;
  --SVN-gilroy-20-20px-bold-italic-letter-spacing: 0px;
  --SVN-gilroy-20-20px-bold-italic-line-height: normal;
  --SVN-gilroy-20-20px-bold-italic-font-style: italic;
  --SVN-gilroy-20-20px-italic-font-family: "SVN-Gilroy-Italic", Helvetica;
  --SVN-gilroy-20-20px-italic-font-weight: 400;
  --SVN-gilroy-20-20px-italic-font-size: 20px;
  --SVN-gilroy-20-20px-italic-letter-spacing: 0px;
  --SVN-gilroy-20-20px-italic-line-height: normal;
  --SVN-gilroy-20-20px-italic-font-style: italic;
  --SVN-gilroy-20-20px-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --SVN-gilroy-20-20px-semibold-font-weight: 600;
  --SVN-gilroy-20-20px-semibold-font-size: 20px;
  --SVN-gilroy-20-20px-semibold-letter-spacing: 0px;
  --SVN-gilroy-20-20px-semibold-line-height: normal;
  --SVN-gilroy-20-20px-semibold-font-style: normal;
  --SVN-gilroy-17-17px-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --SVN-gilroy-17-17px-regular-font-weight: 400;
  --SVN-gilroy-17-17px-regular-font-size: 17px;
  --SVN-gilroy-17-17px-regular-letter-spacing: 0px;
  --SVN-gilroy-17-17px-regular-line-height: normal;
  --SVN-gilroy-17-17px-regular-font-style: normal;
  --SVN-gilroy-17-17px-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --SVN-gilroy-17-17px-bold-font-weight: 700;
  --SVN-gilroy-17-17px-bold-font-size: 17px;
  --SVN-gilroy-17-17px-bold-letter-spacing: 0px;
  --SVN-gilroy-17-17px-bold-line-height: normal;
  --SVN-gilroy-17-17px-bold-font-style: normal;
  --SVN-gilroy-17-17px-bold-italic-font-family: "SVN-Gilroy-BoldItalic", Helvetica;
  --SVN-gilroy-17-17px-bold-italic-font-weight: 700;
  --SVN-gilroy-17-17px-bold-italic-font-size: 17px;
  --SVN-gilroy-17-17px-bold-italic-letter-spacing: 0px;
  --SVN-gilroy-17-17px-bold-italic-line-height: normal;
  --SVN-gilroy-17-17px-bold-italic-font-style: italic;
  --SVN-gilroy-17-17px-italic-font-family: "SVN-Gilroy-Italic", Helvetica;
  --SVN-gilroy-17-17px-italic-font-weight: 400;
  --SVN-gilroy-17-17px-italic-font-size: 17px;
  --SVN-gilroy-17-17px-italic-letter-spacing: 0px;
  --SVN-gilroy-17-17px-italic-line-height: normal;
  --SVN-gilroy-17-17px-italic-font-style: italic;
  --SVN-gilroy-17-17px-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --SVN-gilroy-17-17px-semibold-font-weight: 600;
  --SVN-gilroy-17-17px-semibold-font-size: 17px;
  --SVN-gilroy-17-17px-semibold-letter-spacing: 0px;
  --SVN-gilroy-17-17px-semibold-line-height: normal;
  --SVN-gilroy-17-17px-semibold-font-style: normal;
  --SVN-gilroy-14-14px-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --SVN-gilroy-14-14px-regular-font-weight: 400;
  --SVN-gilroy-14-14px-regular-font-size: 14px;
  --SVN-gilroy-14-14px-regular-letter-spacing: 0px;
  --SVN-gilroy-14-14px-regular-line-height: normal;
  --SVN-gilroy-14-14px-regular-font-style: normal;
  --SVN-gilroy-14-14px-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --SVN-gilroy-14-14px-bold-font-weight: 700;
  --SVN-gilroy-14-14px-bold-font-size: 14px;
  --SVN-gilroy-14-14px-bold-letter-spacing: 0px;
  --SVN-gilroy-14-14px-bold-line-height: normal;
  --SVN-gilroy-14-14px-bold-font-style: normal;
  --SVN-gilroy-14-14px-italic-font-family: "SVN-Gilroy-Italic", Helvetica;
  --SVN-gilroy-14-14px-italic-font-weight: 400;
  --SVN-gilroy-14-14px-italic-font-size: 14px;
  --SVN-gilroy-14-14px-italic-letter-spacing: 0px;
  --SVN-gilroy-14-14px-italic-line-height: normal;
  --SVN-gilroy-14-14px-italic-font-style: italic;
  --SVN-gilroy-14-14px-bold-italic-font-family: "SVN-Gilroy-BoldItalic", Helvetica;
  --SVN-gilroy-14-14px-bold-italic-font-weight: 700;
  --SVN-gilroy-14-14px-bold-italic-font-size: 14px;
  --SVN-gilroy-14-14px-bold-italic-letter-spacing: 0px;
  --SVN-gilroy-14-14px-bold-italic-line-height: normal;
  --SVN-gilroy-14-14px-bold-italic-font-style: italic;
  --SVN-gilroy-14-14px-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --SVN-gilroy-14-14px-semibold-font-weight: 600;
  --SVN-gilroy-14-14px-semibold-font-size: 14px;
  --SVN-gilroy-14-14px-semibold-letter-spacing: 0px;
  --SVN-gilroy-14-14px-semibold-line-height: normal;
  --SVN-gilroy-14-14px-semibold-font-style: normal;
  --SVN-gilroy-12-12px-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --SVN-gilroy-12-12px-regular-font-weight: 400;
  --SVN-gilroy-12-12px-regular-font-size: 12px;
  --SVN-gilroy-12-12px-regular-letter-spacing: 0px;
  --SVN-gilroy-12-12px-regular-line-height: normal;
  --SVN-gilroy-12-12px-regular-font-style: normal;
  --SVN-gilroy-12-12px-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --SVN-gilroy-12-12px-bold-font-weight: 700;
  --SVN-gilroy-12-12px-bold-font-size: 12px;
  --SVN-gilroy-12-12px-bold-letter-spacing: 0px;
  --SVN-gilroy-12-12px-bold-line-height: normal;
  --SVN-gilroy-12-12px-bold-font-style: normal;
  --SVN-gilroy-12-12px-bold-italic-font-family: "SVN-Gilroy-BoldItalic", Helvetica;
  --SVN-gilroy-12-12px-bold-italic-font-weight: 700;
  --SVN-gilroy-12-12px-bold-italic-font-size: 12px;
  --SVN-gilroy-12-12px-bold-italic-letter-spacing: 0px;
  --SVN-gilroy-12-12px-bold-italic-line-height: normal;
  --SVN-gilroy-12-12px-bold-italic-font-style: italic;
  --SVN-gilroy-12-12px-italic-font-family: "SVN-Gilroy-Italic", Helvetica;
  --SVN-gilroy-12-12px-italic-font-weight: 400;
  --SVN-gilroy-12-12px-italic-font-size: 12px;
  --SVN-gilroy-12-12px-italic-letter-spacing: 0px;
  --SVN-gilroy-12-12px-italic-line-height: normal;
  --SVN-gilroy-12-12px-italic-font-style: italic;
  --SVN-gilroy-12-12px-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --SVN-gilroy-12-12px-semibold-font-weight: 600;
  --SVN-gilroy-12-12px-semibold-font-size: 12px;
  --SVN-gilroy-12-12px-semibold-letter-spacing: 0px;
  --SVN-gilroy-12-12px-semibold-line-height: normal;
  --SVN-gilroy-12-12px-semibold-font-style: normal;
  --SVN-gilroy-10-10px-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --SVN-gilroy-10-10px-regular-font-weight: 400;
  --SVN-gilroy-10-10px-regular-font-size: 10px;
  --SVN-gilroy-10-10px-regular-letter-spacing: 0px;
  --SVN-gilroy-10-10px-regular-line-height: normal;
  --SVN-gilroy-10-10px-regular-font-style: normal;
  --SVN-gilroy-10-10px-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --SVN-gilroy-10-10px-bold-font-weight: 700;
  --SVN-gilroy-10-10px-bold-font-size: 10px;
  --SVN-gilroy-10-10px-bold-letter-spacing: 0px;
  --SVN-gilroy-10-10px-bold-line-height: normal;
  --SVN-gilroy-10-10px-bold-font-style: normal;
  --SVN-gilroy-10-10px-bold-italic-font-family: "SVN-Gilroy-BoldItalic", Helvetica;
  --SVN-gilroy-10-10px-bold-italic-font-weight: 700;
  --SVN-gilroy-10-10px-bold-italic-font-size: 10px;
  --SVN-gilroy-10-10px-bold-italic-letter-spacing: 0px;
  --SVN-gilroy-10-10px-bold-italic-line-height: normal;
  --SVN-gilroy-10-10px-bold-italic-font-style: italic;
  --SVN-gilroy-10-10px-italic-font-family: "SVN-Gilroy-Italic", Helvetica;
  --SVN-gilroy-10-10px-italic-font-weight: 400;
  --SVN-gilroy-10-10px-italic-font-size: 10px;
  --SVN-gilroy-10-10px-italic-letter-spacing: 0px;
  --SVN-gilroy-10-10px-italic-line-height: normal;
  --SVN-gilroy-10-10px-italic-font-style: italic;
  --SVN-gilroy-10-10px-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --SVN-gilroy-10-10px-semibold-font-weight: 600;
  --SVN-gilroy-10-10px-semibold-font-size: 10px;
  --SVN-gilroy-10-10px-semibold-letter-spacing: 0px;
  --SVN-gilroy-10-10px-semibold-line-height: normal;
  --SVN-gilroy-10-10px-semibold-font-style: normal;
  --SVN-gilroy-8-8px-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --SVN-gilroy-8-8px-regular-font-weight: 400;
  --SVN-gilroy-8-8px-regular-font-size: 8px;
  --SVN-gilroy-8-8px-regular-letter-spacing: 0px;
  --SVN-gilroy-8-8px-regular-line-height: normal;
  --SVN-gilroy-8-8px-regular-font-style: normal;
  --SVN-gilroy-8-8px-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --SVN-gilroy-8-8px-bold-font-weight: 700;
  --SVN-gilroy-8-8px-bold-font-size: 8px;
  --SVN-gilroy-8-8px-bold-letter-spacing: 0px;
  --SVN-gilroy-8-8px-bold-line-height: normal;
  --SVN-gilroy-8-8px-bold-font-style: normal;
  --SVN-gilroy-8-8px-bold-italic-font-family: "SVN-Gilroy-BoldItalic", Helvetica;
  --SVN-gilroy-8-8px-bold-italic-font-weight: 700;
  --SVN-gilroy-8-8px-bold-italic-font-size: 8px;
  --SVN-gilroy-8-8px-bold-italic-letter-spacing: 0px;
  --SVN-gilroy-8-8px-bold-italic-line-height: normal;
  --SVN-gilroy-8-8px-bold-italic-font-style: italic;
  --SVN-gilroy-8-8px-italic-font-family: "SVN-Gilroy-Italic", Helvetica;
  --SVN-gilroy-8-8px-italic-font-weight: 400;
  --SVN-gilroy-8-8px-italic-font-size: 8px;
  --SVN-gilroy-8-8px-italic-letter-spacing: 0px;
  --SVN-gilroy-8-8px-italic-line-height: normal;
  --SVN-gilroy-8-8px-italic-font-style: italic;
  --SVN-gilroy-8-8px-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --SVN-gilroy-8-8px-semibold-font-weight: 600;
  --SVN-gilroy-8-8px-semibold-font-size: 8px;
  --SVN-gilroy-8-8px-semibold-letter-spacing: 0px;
  --SVN-gilroy-8-8px-semibold-line-height: normal;
  --SVN-gilroy-8-8px-semibold-font-style: normal;
  --inter-24-24px-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --inter-24-24px-semi-bold-font-weight: 600;
  --inter-24-24px-semi-bold-font-size: 24px;
  --inter-24-24px-semi-bold-letter-spacing: 0px;
  --inter-24-24px-semi-bold-line-height: normal;
  --inter-24-24px-semi-bold-font-style: normal;
  --inter-17-17px-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --inter-17-17px-semi-bold-font-weight: 600;
  --inter-17-17px-semi-bold-font-size: 17px;
  --inter-17-17px-semi-bold-letter-spacing: 0px;
  --inter-17-17px-semi-bold-line-height: normal;
  --inter-17-17px-semi-bold-font-style: normal;
  --inter-17-17px-regular-font-family: "Inter-Regular", Helvetica;
  --inter-17-17px-regular-font-weight: 400;
  --inter-17-17px-regular-font-size: 17px;
  --inter-17-17px-regular-letter-spacing: 0px;
  --inter-17-17px-regular-line-height: normal;
  --inter-17-17px-regular-font-style: normal;
  --noto-sans-14-14px-regular-font-family: "NotoSans-Regular", Helvetica;
  --noto-sans-14-14px-regular-font-weight: 400;
  --noto-sans-14-14px-regular-font-size: 14px;
  --noto-sans-14-14px-regular-letter-spacing: 0px;
  --noto-sans-14-14px-regular-line-height: normal;
  --noto-sans-14-14px-regular-font-style: normal;
  --drop-shadow-on-light-drop-shadow-on-light-XS: 0px 1px 2px 0px rgba(28, 39, 49, 0.08);
  --drop-shadow-on-light-drop-shadow-on-light-s: 0px 2px 6px 0px rgba(28, 39, 49, 0.08);
  --drop-shadow-on-light-drop-shadow-on-light-m: 0px 6px 12px 0px rgba(28, 39, 49, 0.05);
  --drop-shadow-on-light-drop-shadow-on-light-l: 0px 17px 33px -2px rgba(28, 39, 49, 0.05);
  --drop-shadow-on-light-drop-shadow-on-light-XL: 0px 25px 40px -10px rgba(28, 39, 49, 0.08);
  --drop-shadow-on-light-drop-shadow-on-light-XXL: 0px 25px 60px -10px rgba(28, 39, 49, 0.12);
  --drop-shadow-on-dark-drop-shadow-on-dark-XS: 0px 1px 2px 0px rgba(0, 0, 0, 0.23);
  --drop-shadow-on-dark-drop-shadow-on-dark-s: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
  --drop-shadow-on-dark-drop-shadow-on-dark-m: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
  --drop-shadow-on-dark-drop-shadow-on-dark-l: 0px 17px 33px -2px rgba(0, 0, 0, 0.14);
  --drop-shadow-on-dark-drop-shadow-on-dark-XL: 0px 25px 40px -10px rgba(0, 0, 0, 0.16);
  --drop-shadow-on-dark-drop-shadow-on-dark-XXL: 0px 25px 60px -10px rgba(0, 0, 0, 0.2);
  --background-blur-background-blur-s-5: ;
  --background-blur-background-blur-m-15: ;
  --background-blur-background-blur-l-25: ;
}
